alias ll='ls -l'
alias ..='cd ..'
alias cdmy='cd $CDMY'

alias hi='history | tail -20'

alias gti='git'
alias be='bundle exec'
alias openreadme='open -a MacDown R[Ee][Aa][Dd][Mm]*'
alias curlstatus='curl -sL -w "%{http_code} %{url_effective}\\n" -o /dev/null'
