# From betamatt/dotfiles

function rake {
  if [ -e Gemfile ]; then
    bundle exec rake $@
  else
    command rake $@
  fi
}

function cap {
  if [ -e Gemfile ]; then
    bundle exec cap $@
  else
    command cap $@
  fi
}
