
[alias]
   # bread and butter
   st  = status
   s   = status -sb
   d   = diff
   dc  = diff --cached
   p   = pull --rebase
   pff = pull --ff-only
   aa  = add --all
   ir  = rebase -i origin/master
   l   = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an> -%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit --date=relative
   lg  = log -p
   br  = branch
   co  = checkout
   ci  = commit
   amend = commit --amend
   undocommit = reset --soft HEAD^
   undomerge-or-pull = reset --hard

   # stats
   who     = shortlog -s -n
   slap    = blame -w   #ignore whitespace
   ignored = ls-files -i -o --exclude-standard

   # stash
   sl = stash list
   sp = stash show -p
   apply-stash-to-dirty-working-tree = !git stash show -p | git apply && git stash drop


### settings ###
[core]
   whitespace=-blank-at-eol      # disable leading whitespace highlighting
   # whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[rerere]
   enabled = 1

[merge]
   log = true

[push]
   default = nothing   # nothing | matching | upstream | current


### colors ###
[color]
   branch = auto
   diff = auto
   status = auto
   ui = true
[color "branch"]
   current = green reverse
   local = green
   remote = yellow
[color "diff"]
   meta = yellow
   old = red bold
   new = green bold
[color "status"]
   added = green
   changed = yellow
   untracked = cyan



### personal ###
[user]
   name = Matthias Luedtke
   email = matthias.luedtke@dynport.de

[core]
   excludesfile = /Users/mat/.gitignore

[github]
   user = mat
   token = FOOBAR

[gist]
   private = yes
   browse = yes
