#
# git config --global core.excludesfile ~/.gitignore
#
.DS_Store
*~
*.swp
*.i
*.i.*
.idea
Makefile.private
tags

# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
