
[alias]
   # bread and butter
   st  = show --stat
   s   = status -sb
   d   = diff
   dc  = diff --cached
   pff = pull --ff-only
   p   = pull
   aa  = add --all
   ir  = rebase -i origin/master
   l   = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an> -%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit --date=relative
   lg  = log -p
   br  = branch
   co  = checkout
   ci  = commit
   amend = commit --amend
   touch = commit --amend --reset-author
   undocommit = reset --soft HEAD^
   undomerge-or-pull = reset --hard
   my-changed-files = diff master..HEAD --name-only

   # stats
   who     = shortlog -s -n
   slap    = blame -w   #ignore whitespace
   ignored = ls-files -i -o --exclude-standard
   authors = !git log --format='%aN <%aE>' | sort -u

   # stash
   sl = stash list
   sp = stash show -p
   apply-stash-to-dirty-working-tree = !git stash show -p | git apply && git stash drop
   g = grep --break --heading --line-number


### settings ###
[core]
   whitespace=-blank-at-eol      # disable leading whitespace highlighting
   # whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
   editor = vim
   excludesfile = ~/.gitignore
   attributesfile = ~/.gitattributes

[rerere]
   enabled = 1

[merge]
   log = true

[push]
   default = simple

[pull]
   rebase = true

[grep]
   lineNumber = true
   extendRegexp = true

[gist]
   private = yes
   browse = yes

# binary file diffing with strings, enable via .gitattributes
[diff "stringsdiff"]
   textconv = strings
[diff "localizablestrings"]
   textconv = "iconv -f utf-16 -t utf-8"

# Enable pretty diffing https://github.com/blog/2188-git-2-9-has-been-released
[diff]
   compactionHeuristic=true
# https://gist.github.com/tekin/12500956bd56784728e490d8cef9cb81#gistcomment-3500150
[diff "rspec"]
   xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"

### colors ###
[color]
   branch = auto
   diff = auto
   status = auto
   ui = true
[color "branch"]
   current = green reverse
   local = green
   remote = yellow
[color "diff"]
   meta = yellow
   old = red bold
   new = green bold
[color "status"]
   added = green
   changed = yellow
   untracked = cyan

### personal ###
[user]
   name = Matthias Luedtke
#   email = # We use EMAIL instead

### local settings ###
[include]
   path = local.gitconfig # may include additions and overrides
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
